<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      
      <!-- <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block> -->
       
      <div class="page-title" align="center">&nbsp;&nbsp;&nbsp;&nbsp;Login Page.. </div>
       
      <div class="login-container">
         <h3>Enter User ID  and Password</h3>
         <br>
         <!-- /login?error=true -->
         <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             <div th:if= "${#request.getParameter('error') == 'true'}"
                style="color: red; margin: 10px 0px;">
                Login Failed!!!<br /> Reason :
                <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
             </div>
         </th:block>
          
         <form method="POST"
            th:action="@{/login}">
            <table>
               <tr>
                  <td>User ID *</td>
                  <td><input type="text" name="userID"  id="userID"/></td>
               </tr>
               <tr>
                  <td>Password *</td>
                  <td><input type="password" name="password" id="password"/></td>
               </tr>
               <tr>
                  <td>&nbsp;</td>
                  <td>
                      <input type="submit" value="Login" />
                     <!--  <input type="reset"  value="Reset" /> -->
                  </td>
               </tr>
            </table>
         </form>
          
         <span class="error-message" th:utext="${error}"></span>
      </div>
       
      <!-- <div style="text-align:left">
          <h3>User/Password:</h3>
          <ul>        
             <li>employee1/123</li>
             <li>manager1/123</li>   
          </ul>
      </div> -->
       
      <!-- <th:block th:include="/_footer"></th:block> -->
      <div class="footer-container" xmlns:th="http://www.thymeleaf.org">
  
   @Copy right <a href="/" target="_blank">IBM Microservice Reskill</a>
     
</div>
       
   </body>
</html>