<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->

<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
       <head>
          <meta charset="UTF-8">
          <title>Product List</title>
          <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
       </head>
       <body>
       
       
                <!-- <th:block th:include="/header"></th:block> -->
      
      <!-- Instead of /header include starts-->
    <div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <div class="site-name">MS Case Study.</div>
   
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         Welcome
         <!-- <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a> -->
         <a th:href="@{/admin/accountInfo}" th:utext="Puspak">..</a>
         &nbsp;|&nbsp;
         <a th:href="@{/admin/logout}">Logout</a>
      </th:block>
       
      <!-- <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/admin/login}">Login</a>
      </th:block> -->
   </div>
   
</div>
      <!-- Instead of /header include end -->
      
      
      <!-- <th:block th:include="/menu"></th:block> -->
      
      <!-- Instead of menu include starts -->
      
      <div class="menu-container"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
       
       
        <div>
      
      <!-- "${#request.userPrincipal.name}" -->
      <input id="tockenID" name="tockenID"  type ="hidden"  th:value= "${tocken}" >
      </div>
       <a th:href="@{/}">Home</a>
       |
       <a th:href="@{/productList}">
       Product List
       </a>
       |
       <a th:href="@{/shoppingCart}">
       My Cart
       </a>
       |
       <!-- <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')"> -->
          <!-- <a th:href="@{/admin/orderList}"> -->
          <a th:href="@{/order/orderList}">
          Order List
          </a>
          |
       </th:block>
       <!-- <th:block sec:authorize="hasRole('ROLE_MANAGER')">
          <a th:href="@{/admin/product}">
          Create Product
          </a>
          |
       </th:block> -->
    </div>
      
      <!-- Instead of menu include starts -->
     
          <div class="page-title">Order List</div>
         <!--  <div>Total Order Count: <span th:utext="${paginationResult.totalRecords}"></span></div> -->
         
         
        <div th:if="${errorMessage}">
           <h4 style="color:red;"><span th:text ="${errorMessage}"></span></h4>
        </div>
 
     <div th:unless="${errorMessage}">
         
          <table border="1" style="width:100%">
             <tr>
                <th>Order Num</th>
                <th>Order Date</th>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Customer Email</th>
                <th>Amount</th>
                <th>View</th>
             </tr>
             <tr th:each="orderInfo : ${paginationResult.list}">
                <td th:utext="${orderInfo.orderNum}"></td>
                <td th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></td>
                <td th:utext="${orderInfo.customerName}"></td>
                <td th:utext="${orderInfo.customerAddress}"></td>
                <td th:utext="${orderInfo.customerEmail}"></td>
                <td style="color:red;" th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'POINT')}">
                </td>
                <td><a th:href="@{|/order/orderDetail?orderId=${orderInfo.id}|}">View</a></td>
             </tr>
          </table>
     </div>     
          
          <!-- <div class="page-navigator" th:if="${paginationResult.totalPages > 1}" >
             <th:block th:each="page: ${paginationResult.navigationPages}">
                <a th:if="${page != -1}" class="nav-item"
                   th:href="@{|/admin/orderList?page=${page}|}" th:utext="${page}"></a>
                    
                <span th:if="${page == -1}" class="nav-item"> ... </span>
             </th:block>
          </div> -->
     
          <div class="footer-container" xmlns:th="http://www.thymeleaf.org">
  
   @Copy right <a href="/" target="_blank">IBM Microservice Reskill</a>
     
</div>
           
       </body>
    </html>
