<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html>
 -->
<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
       <head>
          <meta charset="UTF-8">
          <title>Shopping Cart</title>
          <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
       </head>
       <body>
          
          
          
                <!-- <th:block th:include="/header"></th:block> -->
      
      <!-- Instead of /header include starts-->
    <div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <div class="site-name">MS Case Study.</div>
   
   <div class="header-bar">
      <th:block sec:authorize="isAuthenticated()">
         Welcome
         <!-- <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a> -->
         <a th:href="@{/admin/accountInfo}" th:utext="Puspak">..</a>
         &nbsp;|&nbsp;
         <a th:href="@{/admin/logout}">Logout</a>
      </th:block>
       
      <!-- <th:block sec:authorize="!isAuthenticated()">
         <a th:href="@{/admin/login}">Login</a>
      </th:block> -->
   </div>
   
</div>
      <!-- Instead of /header include end -->
      
      
      <!-- <th:block th:include="/menu"></th:block> -->
      
      <!-- Instead of menu include starts -->
      
      <div class="menu-container"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
       
       
        <div>
      
      <!-- "${#request.userPrincipal.name}" -->
      <input id="tockenID" name="tockenID"  type ="hidden"  th:value= "${tocken}" >
      </div>
       <a th:href="@{/}">Home</a>
       |
       <a th:href="@{/productList}">
       Product List
       </a>
       |
       <a th:href="@{/shoppingCart}">
       My Cart
       </a>
       |
       <!-- <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')"> -->
          <!-- <a th:href="@{/admin/orderList}"> -->
          <a th:href="@{/order/orderList}">
          Order List
          </a>
          |
       </th:block>
       <!-- <th:block sec:authorize="hasRole('ROLE_MANAGER')">
          <a th:href="@{/admin/product}">
          Create Product
          </a>
          |
       </th:block> -->
    </div>
      
      <!-- Instead of menu include starts -->
           
          <div class="page-title">My Cart</div>
          
          
          <div th:if="${errorMessage}">
             <h4 style="color:red;"><span th:text ="${errorMessage}"></span></h4>
            </div>
         <div th:unless="${errorMessage}">
          
          <!-- Cart Page starts -->
           
          <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
             <h3>There is no items in Cart</h3>
             <a th:href="@{/productList}">Show Product List</a>
          </th:block>
           
          <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
             <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
              
                   <div class="product-preview-container"
                            th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                      <ul>
                         <li><img class="product-image"
                            th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                         </li>
                         <li>Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                            <input type="hidden"      
                               th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
                               th:value="${cartLineInfo.productInfo.code}" />
                         </li>
                         <li>Name: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
                         <li>Price:
                            <span class="price"
                               th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'POINT')}">
                              <!--  th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}"> -->
                            </span>
                         </li>
                         <li>Quantity:
                            <input
                                th:name="|cartLines[${varStatus.index}].quantity|"
                                th:value="${cartLineInfo.quantity}" />
                         </li>
                         <li>Subtotal:
                            <span class="subtotal"
                               th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'POINT')}">
                               <!-- th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}"> -->
                            </span>
                         </li>
                         <li>
                         </li>
                         <li>
                         </li>
                         <li>
                            <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">
                            Delete/Remove from cart.
                            </a>
                         </li>
                      </ul>
                   </div>
                 
                <div style="clear: both"></div>
                <input class="button-update-sc" type="submit" value="Update Quantity" />
                <a class="navi-item"
                   th:href="@{/shoppingCartCustomer}">Enter Shipping Details</a>
                <a class="navi-item"
                   th:href="@{/productList}">Continue Buy</a>
             </form>
          </th:block>
          
          <!-- Cart Page starts -->
          </div>
           
          <div class="footer-container" xmlns:th="http://www.thymeleaf.org">
  
   @Copy right <a href="/" target="_blank">IBM Microservice Reskill</a>
     
</div>
           
       </body>
    </html>
